<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">Excel Visualization</a>
    </div>
    <div class="navbar-default">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active" class="col-xs-4">
          <a routerLink="/home">Home</a>
        </li>
        <li routerLinkActive="active"  class="col-xs-4">
          <a routerLink="/table">Table</a>
        </li>
        <li routerLinkActive="active"  class="col-xs-4">
          <a routerLink="/chart">Chart</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
